.new-statements
  .panel
    .panel-heading
      .panel-title
        = link_to 'retour', items_moneys_path
        %h1 Nouveau relevé
    .panel-body
      = form_tag '/statements' do
        .date= text_field_tag 'date', 'saisir la date', autofocus: true
        %br
        - @accounts.each do |account|
          .row
            .name-account
              = account.name
            .value-account
              = number_field_tag account.name, step: 0.01
        = submit_tag 'Valider ce relevé'