%h2 Identification :

= form_for resource, as: resource_name, url: session_path(resource_name) do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :mot_de_passe
    %br/
    = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :se_souvenir_de_moi
  .actions
    = f.submit "Connexion"
= render "devise/shared/links"