!!!
%html
  %head
    %title Evolution
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png'
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    
  %body
    = render 'layouts/navigation'
    = render 'layouts/notice'

    = yield

    :javascript
      $('.alert').delay(4000).fadeOut();